.userList {
  flex: 4;
}

.userContainer{
  flex-direction: row;
  flex-wrap: wrap;
}

.userShowTop{
  flex-direction: column;
}

.userShow{
  width: 50%;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.deleteIcon {
  color: red;
  font-size: medium;
  float: right;
  
}

.btn-toggle {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #353535;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  
}

.category-container{
  padding: 10px;
  margin: 15px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 6px 15px 3px rgb(219, 219, 219);
  cursor: pointer;
  display: flex;
  flex-direction: row;

}

.category{
  padding:0px;
  display: flex;
  flex-direction: row;
}

/* .category-container:hover {
  opacity: 0.9;
  background-color: rgb(226, 229, 229);
} */

.deleteIcon{
  font-size: 20px;
  color: rgb(204, 17, 17);
  ;
}

.deleteIcon:hover{
  color:rgb(206, 65, 55)
}

.EditBtn{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 250px;
}
.EditBtn:hover{
  background-color: #2c8158;
}

.icon-container{
 
  border-radius: 50px;
  font-size: 12px;
  color:grey;
  margin:10;
  font-size: large;
}

.text{
  margin-top: -2px;
  margin-left: 10px;
  color: #3e3e3f;
  font-weight: bold;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .btn-toggle {
    display: flex;
  }

}